<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/answer.css')}}"
    />
    <title>DB-ES | Answer</title>
  </head>
  <body>
    <div class="answer-container">
      <div class="answer-content">
        <h1 class="answer-items" id="answer">{{question}}</h1>
        <div class="answer-items answer-box">
          <p>{{answer}}</p>
        </div>
        <form method="POST" class="answer-items">
          <button type="submit" id="back-button">Ask Again</button>
        </form>
      </div>
    </div>
  </body>
</html>
