<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/home.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>DB Lecturer ES</title>
  </head>
  <body>
    <div class="home-container">
      <div class="home-text">
        <h1 id="home-greeting">
          Good {{message}}! <br />
          <span id="home-welcome">Welcome to DB-ES!</span>
        </h1>
        <button id="home-button">Get Started</button>
      </div>
    </div>
  </body>
</html>
