<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/home.css')}}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Database Expert System | Home</title>
  </head>
  <body>
    <div class="home-container">
      <h1 id="welcome-text">
        Good {{message}}! Are you ready to learn Database?
      </h1>
      <button id="start-button">Get Started</button>
      <img
        src="{{url_for('static',filename='assets/Homepage.svg')}}"
        alt="home-graphic"
        id="home-graphic"
      />
    </div>
  </body>
</html>
