<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/information.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>DB Lecturer ES</title>
  </head>
  <body>
    <div class="info-container">
      <div class="info-content">
        <h1 id="info-heading" class="info-item">Tell me about yourself!</h1>
        <form class="info-form" method="POST">
          <input
            type="text"
            name="name"
            class="info-item"
            id="info-form-input"
            placeholder="What can I call you?"
          />
          <input
            type="text"
            name="matric-number"
            class="info-item"
            id="info-form-input"
            placeholder="What is your matric number?"
          />
          <select name="year-of-study" class="info-item" id="info-form-input">
            <option value="" selected="selected">
              What year of study are you in?
            </option>
            <option value="first-year">First Year</option>
            <option value="second-year">Second Year</option>
            <option value="third-year">Third Year</option>
            <option value="fourth-year">Fourth Year</option>
          </select>
          <select name="department" class="info-item" id="info-form-input">
            <option value="" selected="selected">
              What course are you from?
            </option>
            <option value="ai">Artificial Intelligence</option>
            <option value="se">Software Engineering</option>
            <option value="is">Information Systems</option>
            <option value="csn">Computer Systems and Network</option>
            <option value="ds">Data Science</option>
            <option value="mm">Multimedia</option>
          </select>
          <input
            type="submit"
            value="Submit"
            id="info-submit-button"
            class="info-item"
          />
        </form>
      </div>
    </div>
  </body>
</html>
