<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/lecturer_intro.css')}}"
    />
    <title>Introduction</title>
  </head>
  <body>
    <div class="intro-container">
      <div class="intro-content">
        <h1 class="intro-items" id="intro-greeting">Hello {{name}}!</h1>
        <p class="intro-items" id="intro-description">
          I'm Dr E-Khalit, your virtual Database lecturer! <br />
          {{main_question}}
        </p>
        <div class="intro-items intro-grid">
          {%for question in sub_questions%}
          <button class="intro-items" id="grid-button">{{question}}</button>
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
