<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/lecturer_intro.css')}}"
    />
    <title>Introduction</title>
  </head>
  <body>
    <div class="intro-container">
      <div class="intro-content">
        <h1 class="intro-items" id="intro-greeting">Hello {{name}}!</h1>
        <p class="intro-items" id="intro-description">
          I'm Dr E-Khalit, your virtual Database lecturer! <br />
          What would you like to learn today?
        </p>
        <div class="intro-items intro-grid">
          <button class="intro-items" id="grid-button">
            I want to know more about the course
          </button>
          <button class="intro-items" id="grid-button">
            I want to learn about Database topics
          </button>
          <button class="intro-items" id="grid-button">
            I want to develop a Database
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
