* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.intro-container {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #1b22e8, #b2478f);
}

.intro-content {
  position: absolute;
  width: 80vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.intro-content::before {
  z-index: 1;
  content: "";
  width: 80vw;
  height: 90vh;
  position: absolute;
  background: #f9f8fd;
  border-radius: 50px;
  opacity: 25%;
}

.intro-items {
  color: #f9f8fd;
  z-index: 2;
}

.intro-grid {
  margin: 40px 0px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

#intro-greeting {
  color: #f2f2f2;
  font-size: 3em;
}

#intro-description {
  color: #f2f2f2;
  font-size: 2em;
}

#grid-button {
  background-color: #f2f2f2;
  color: #664ad2;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 30px;
  transition: 0.2s ease-in-out;
}

#grid-button:hover {
  transform: scale(1.1);
}
